

<div style="padding: 50px; border: solid 1px rgba(0, 0, 0, .12); border-right:none;" >


<mat-form-field class="book-create">
  <mat-label>Katalog</mat-label>
  <mat-select [(value)]="selected" >
    <mat-option *ngFor="let data of languages" [value]="data.id">
      {{data.name}}
    </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="book-create">
  <mat-label>Kitap Adı</mat-label>
  <input matInput  #txtName>
</mat-form-field>

<mat-form-field class="book-create">
  <mat-label>Yazar</mat-label>
  <mat-select [(value)]="authorName">
    <mat-option *ngFor="let author of authors" [value]="author.id">
      {{author.name}}
    </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="book-create">
  <mat-label>Dil</mat-label>
  <mat-select [(value)]="languageName">
    <mat-option *ngFor="let language of languages" [value]="language.id">
      {{language.name}}
    </mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field class="book-create">
  <mat-label>Sayfa Sayısı</mat-label>
  <input matInput type="number" min="0" value="0" #txtPageOfNumber>
</mat-form-field>



<button mat-flat-button style="width: 150px; height: 65px; font-size: 20px; " color="accent" (click)="create(selected,authorName,languageName,txtName,txtPageOfNumber)">Ekle</button>
</div>
