

<div style="padding: 50px; border: solid 1px rgba(0, 0, 0, .12); border-right:none;" >
  <mat-form-field class="neigh-create">
  <mat-label>Katalog</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>

  </mat-select>
</mat-form-field>

<mat-form-field class="neigh-create">
  <mat-label>Katalog</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>

  </mat-select>
</mat-form-field>

<mat-form-field class="neigh-create">
  <mat-label>Kitap Adı</mat-label>
  <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>

<mat-form-field class="neigh-create">
  <mat-label>Yazar</mat-label>
  <mat-select>
    <mat-option value="one">First option</mat-option>

  </mat-select>
</mat-form-field>

<mat-form-field class="neigh-create">
  <mat-label>Sayfa Sayısı</mat-label>
  <input matInput type="number" min="0" value="0" #txtPrice>
</mat-form-field>



<button mat-flat-button style="width: 150px; height: 65px; font-size: 20px; " color="accent">Ekle</button>
</div>
